#cli {
  width: 100%;
  height: 70vh;
  background: rgba(0,0,0,0.15);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-left: solid 5px $dark-purple;
  border-top: solid 5px $dark-purple;
  border-right: solid 5px $dark-purple;
  padding: 25px;
  p {
    font-size: 1.5rem;
    display: block;
    width: 100%;
    text-align: right;
    padding: 0 5px;
  }
}

.p-wrapper {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}