#cli {
  width: 100%;
  height: 70vh;
  background: rgba(0,0,0,0.15);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-left: solid 5px $dark-purple;
  border-top: solid 5px $dark-purple;
  border-right: solid 5px $dark-purple;
  padding: 25px;
  p {
    opacity: 0;
    font-size: 1.5rem;
    display: block;
    width: 100%;
    text-align: left;
    padding: 0 5px;
    animation: type 2s steps(40, start);
    animation-fill-mode: forwards;
    white-space: nowrap;
    overflow: hidden;
  }
}

.p-wrapper {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

@keyframes type {
  0% {
    width: 0;
  }
  
  1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}