#input-bar {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: solid 5px $dark-purple;
  padding-left: 25px;
  height: 50px;
  input[type=text] {
    height: 45px;
    width: 80%;
    border: 0;
  }
  input[type=submit] {
    height: 45px;
    width: 20%;
    border-bottom-right-radius: 25px;
    border: 0;
  }
  input:focus {
    border: 0 !important;
  }
  input[type=text]:focus {
    border: 0;
  }
}