#homepage {
  color: white;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  .landing-images {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    position: relative;
    padding: 2rem;
  }

  #dragon-img, #penguin-img {
    max-width: 50px;
    max-height: 50px;
  }

  .enter-button {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex; 
    justify-content: center;
    align-items: flex-end;
    position: relative;
  }

  button {
    background: none;
    border-radius: 4px;
    width: 70%;
    height: 2rem;
    margin-top: 2rem;
    color: $dark-purple;
    border: solid 2px $dark-purple;
    border-radius: 15px;
    font-family: 'Euphoria Script', cursive;
  }
}

